bin/
build/*
!build/appicon.png
!build/windows/
build/windows/*
!build/windows/icon.ico
wailsjs/
.gocache/
node_modules/
frontend/node_modules/
programetest/
.vscode/
.env
.env.*
*.local
state.json
window-state.json
*.exe
*.dll
*.test
*.out
